[submodule "ssl_ros_bridge"]
	path = ssl_ros_bridge
	url = https://github.com/SSL-A-Team/ssl_ros_bridge.git
[submodule "radio/ateam_radio_msgs/software-communication"]
	path = radio/ateam_radio_msgs/software-communication
	url = https://github.com/SSL-A-Team/software-communication.git
[submodule "motion/ateam_path_planning/controls"]
	path = motion/ateam_path_planning/ateam_controls
	url = https://github.com/SSL-A-Team/controls.git
