name: PR Validation
on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  Build-and-Test-Changed-Packages:
    runs-on: ubuntu-24.04
    container: ros:jazzy
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: src/ateam_software
          submodules: true
          fetch-depth: 0
      
      - name: Install Dependencies
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          sudo apt-get update
          rosdep update --rosdistro=jazzy
          rosdep install --from-paths . --ignore-src -y
          ./src/ateam_software/ateam_ui/install_deps.sh
          sudo apt install -y python3-clang
      
      - name: Get Changed Packages
        id: get-changed-packages
        shell: bash
        run: |
          changed_packages=$(./src/ateam_software/.github/workflows/get_changed_packages.sh origin/${{ github.base_ref }} ./src/ateam_software)
          echo "changed-packages=$changed_packages" >> $GITHUB_OUTPUT
      
      - name: Build Up To Changes
        if: ${{ steps.get-changed-packages.outputs.changed-packages != '' }}
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon build --packages-up-to ${{ steps.get-changed-packages.outputs.changed-packages }} --cmake-args -DCMAKE_BUILD_TYPE=Release
      
      - name: Build Above Changes
        if: ${{ steps.get-changed-packages.outputs.changed-packages != '' }}
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon build --packages-above-and-dependencies ${{ steps.get-changed-packages.outputs.changed-packages }} --cmake-args -DCMAKE_BUILD_TYPE=Release
      
      - name: Test Changed Packages
        shell: bash
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon test --packages-skip ateam_ui ateam_spatial ateam_radio_bridge --packages-select ${{ steps.get-changed-packages.outputs.changed-packages }}
          colcon test-result --verbose 
